body {
    font-family: "Press Start 2p", sans-serif;
    font-size: 14px;
    color: #FFF;
    background-color: #111;
    height: 100%;
    width: auto;
}

.btn {
    border: 0px;
    border-radius: 0px;
    background-color: #111;
    line-height: 1px;
    font-size: 1em;
}

.btn:hover {
    color: red;
}

.btn.active {
    color: red;
}

.header {
    display: flex;
    align-items: flex-start;
}

.info {
    margin-left: 1em;
    margin-bottom: 1em;
}

.mid {
    display: flex;
    align-content: center;
    justify-content: center;
}

.modal {
    width: 50%;
    left: 25%;
    top: 25%;
}

.modal-header {
    border-bottom: 0px;
    padding-bottom: 1em;
}

.modal-content {
    background-color: #111;
    border-radius: 0px;
    text-align: center;
    border: 0;
}

.reset {
    text-align: right;
}

.rows {
    text-align: center;
    margin: 1em 0 1em 0;
}

.strictSelector {
    margin-top: 1.5em;
    margin-left: 1em;
}


$red: "red";
$red-color: #f00;
$yellow: "yellow";
$yellow-color: #FFF30A;
$green: "green";
$green-color: #0DFF21;
$blue: "blue";
$blue-color: #1D48FF;
$offset: 5px;

@mixin button-options($color-name, $color) {
    .button.#{$color-name} {
        display: inline-block;
        position: relative;
        height: 15vh;
        max-height: 200px;
        margin: 10px;
        width: 400px;
        &,
        &::before,
        &::after {
            background-color: $color;
        }
    }
    
    .button.#{$color-name}::before,
    .button.#{$color-name}::after {
        content: "";
        position: absolute;
        height: calc(100% - #{2*$offset});
        width: 3 * $offset;
        top: $offset;
    }
    .button.#{$color-name}::before {
        left: (-1) * $offset ;
    }
    .button.#{$color-name}::after {
        right: (-1) * $offset;
    }
}

@include button-options($red, $red-color);
@include button-options($yellow, $yellow-color);
@include button-options($green, $green-color);
@include button-options($blue, $blue-color);