body {
    font-family: "Press Start 2p", sans-serif;
    color: #FFF;
    background-color: #111;
    height: 100%;
    width: auto;
}

.btn {
    border: 0px;
    border-radius: 0px;
    background-color: #111;
    line-height: 1px;
}

.btn:hover {
    color: red;
}

.btn.active {
    color: red;
}

.info {
    margin-left: 1em;
    margin-bottom: 1em;
}

.modal {
    width: 50%;
    left: 25%;
    top: 25%;
}

.modal-header {
    border-bottom: 0px;
    padding-bottom: 1em;
}

.modal-content {
    background-color: #111;
    border-radius: 0px;
    text-align: center;
    border: 0;
}

.reset {
    text-align: right;
}

.rows {
    text-align: center;
    height: 20%;
    margin: 1em 0 1em 0;
}

.strictSelector {
    margin-top: 1.5em;
    margin-left: 1em;
}

.simonbuttons .button {
    height: 30%;
    width: 30%;
    position: relative;
    cursor: pointer;
}

$red: "red";
$red-color: #f00;
$yellow: "yellow";
$yellow-color: #FFF30A;
$green: "green";
$green-color: #0DFF21;
$blue: "blue";
$blue-color: #1D48FF;
@mixin button-options($color-name, $color) {
    .button.#{$color-name} {
        display: inline-block;
        background: $color;
        position: relative;
        line-height: 60px;
        text-align: center;
        padding: 40px;
        height: 110px;
        margin: 10px;
    }
    .button.#{$color-name},
    .button.#{$color-name}::before,
    .button.#{$color-name}::after {
        background-color: $color;
    }
    .button.#{$color-name}::before,
    .button.#{$color-name}::after {
        content: "";
        position: absolute;
        height: 100px;
        width: 15px;
        top: 5px;
    }
    .button.#{$color-name}::before {
        left: -5px;
    }
    .button.#{$color-name}::after {
        right: -5px;
    }
}

@include button-options($red, $red-color);
@include button-options($yellow, $yellow-color);
@include button-options($green, $green-color);
@include button-options($blue, $blue-color);